.header-content {
  width: 100%;
  display: flex;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    .title {
      font-size: 1.5rem;
      font-weight: 600;
      color: #333;
    }
  }
}
