################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BancoPan.Cadastro/FileContentIndex
/.vs/BancoPan.Cadastro/v16
/.vs/BancoPan.Cadastro/v17
/.vs
