<p-card header="Pessoa Física">
  <div class="actions">
    <p-button label="Nova Pessoa Física" icon="pi pi-plus" severity="success" (onClick)="router.navigate(['/pessoa-fisica/novo'])"></p-button>
  </div>

  <p-table [value]="pessoas" [loading]="loading" [paginator]="true" [rows]="10"
           [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} pessoas">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Email</th>
        <th>Data Nascimento</th>
        <th>Idade</th>
        <th style="width: 150px">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pessoa>
      <tr>
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.cpf | cpf }}</td>
        <td>{{ pessoa.email }}</td>
        <td>{{ pessoa.dataNascimento | date:'dd/MM/yyyy' }}</td>
        <td>{{ pessoa.idade }} anos</td>
        <td>
          <p-button icon="pi pi-pencil" severity="primary" [text]="true"
                    (onClick)="router.navigate(['/pessoa-fisica', pessoa.id, 'editar'])" pTooltip="Editar"></p-button>
          <p-button icon="pi pi-trash" severity="danger" [text]="true"
                    (onClick)="confirmDelete(pessoa.id)" pTooltip="Excluir"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center">Nenhuma pessoa física encontrada</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
